.main__contact {
    @include sizeMainElements(100vw, 100vh);
    background-color: rgba($darkGray, .5);
    @include flexCenter;

    .main__container {
        background-color: $white;
        @include sizeItens(20.625rem, 9.75rem, 0.25rem);
        box-shadow: 0rem 0.1875rem 0.9375rem 0rem rgba(0, 0, 0, 0.25);
        display: flex;
        flex-direction: column;
        gap: 1rem;

        .main__close {
            @include fontChange($black, 1.5rem, 700);
            align-self: flex-end;
            padding: 0.5rem;
            cursor: pointer;
        }

        .main__message {
            padding: 0.5rem 1rem;
            .message__thanks {
                @include fontChange($black, 1.5rem, 400);
            }
        }
    }

    @media (min-width: 768px) {
        .main__container {
            width: 22rem;
        }
    }
}