@import "./Hero/hero";

.heroSection {
    @include sizeMainElements(100vw, 100vh);
    @include flexCenter;
    
    .heroSection__container {
        @include sizeMainElements(80vw, 100vh);
        display: flex;
        flex-direction: column;
        gap: 5rem;

        .heroSection__hero {
            @include sizeMainElements(80vw, auto);
        }
    }
}

.heroSection--before::before {
    content: "";
    @include sizeMainElements(100vw, 100vh);
    background-image: url("../../../assets/images/photoSection.svg");
    background-position: center;
    background-size: cover;
    filter: grayscale(1);
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;

    .heroSection__container {
        @include sizeItens(80vw, 100vh, 0);
        @include flexCenter;
        flex-direction: column;
        z-index: -1;

        .heroSection__hero {
            @include flexCenter;
        }
    }

    @media (min-width: 768px){
        .heroSection {
            .heroSection__container {
                gap: 8rem;
            }
        }
    }
}